.pre-footer {
	background-color: $BrightRed;
	text-align: center;
	padding: 100px 0;
	position: relative;

	.flex {
		flex-flow: column;
	}
	
	h2 {
		color: #fff;
		margin-bottom: 2rem;
		font-size: calc( 2.3rem + 16 * (100vw - 320px) / (960 - 320) );
	}

	.button {
		background-color: #fff;
		color: $BrightRed;
		display: inline-block;
	}

	&::after {
		content: '';
		position: absolute;
		top: 4rem;
		left: 0;
		background-image: url(../../images/bg-simplify-section-mobile.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width: 75%;
		height: 75%;
	}

	@include breakpoint-up(large) {
		text-align: left;
		justify-content: space-between;
		padding: 80px 0;
		
		.flex {
			align-items: center;
			flex-flow: row;
		}

		h2 {
			font-size: 2.5rem;
			flex: 1;
			text-align: left;
			margin-bottom: 0;
		}

		.button-wrapper {
			flex: 1;
    		text-align: right;
		}

		&::after {
			top: 0;
			right: 0;
			left: auto;
			background-image: url(../../images/bg-simplify-section-desktop.svg);
			background-size: 103%;
			width: 100%;
			height: 100%;
		}


	}
}