/***** TYPOGRAPHY *****/
@font-face {
    font-family: 'Be vietnam';
    src: url('../../assets/fonts/bevietnam-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/bevietnam-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/bevietnam-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/bevietnam-regular-webfont.svg#be_vietnamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Font families
$font-family: 'Be Vietnam', sans-serif;

// Font weight;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;